# 运行依赖 - 项目运行必须的包
pandas==2.0.3
numpy==1.25.1
matplotlib==3.7.2
tqdm>=4.66.1
requests==2.31.0
python-dateutil>=2.9.0
python-binance>=1.0.16
schedule>=1.1.0
aiohttp>=3.8.4
python-dotenv>=1.0.0
prometheus-client>=0.16.0

# 配置管理所需依赖
pyyaml>=6.0

# 测试依赖
pytest==7.4.0
psutil==5.9.5
